@media only screen and (max-width: 1024px) {
  .app {
    grid-template-columns: 1fr;
    .app-menu {
      position: fixed;
      width: auto;
      top: 0;
      left: -200%;
      z-index: 100;
      transition: 0.3s;
      z-index: 10000;
      .menu-block {
        .exit-menu {
          display: block;
        }
      }
    }
    .app-main {
      width: 100%;
      display: block;
      .play-song {
        .play__left {
          width: 30%;
        }
        .play__mid {
          width: 70%;
          .play__mid--icon {
          }
        }
        .play__right {
          display: none;
        }
      }
      //    main
      main {
        .main__home {
          .main__home--songTop {
            .main__home--songTop-item {
              width: 50%;
              padding: 0;
              .main__home--songTop-item-nambertric {
                :last-child {
                  font-size: 14px;
                }
              }
            }
          }
          //     .main__home--zingChart
          .main__home--zingChart {
            .main__home--zingChart-item {
              .main__home--zingChart-items {
                width: 98%;
              }
            }
          }
        }
        header {
          .song-block {
            nav {
              justify-content: space-evenly;
              align-items: center;
              .nav__tabs {
                display: none;
              }
              .nav__menu1024 {
                display: block;
              }
              .nav__logo1024 {
                display: block;
              }
              .nav__search {
                .nav__search--input {
                  transition: 0.6s;
                  width: 0;
                }
              }
            }
          }
          .theme {
            .theme__main {
              max-width: 90%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .app {
    .app-menu {
      left: -200%;
    }
    .app-main {
      .play-song {
        .play__left {
        }
        .play__mid {
          .play__mid--icon {
          }
        }
        .play__right {
        }
      }
      //    main
      main {
        .main__home {
          .main__home--songTop {
            .main__home--songTop-item {
              width: 100%;
              .main__home--songTop-item-nambertric {
                :last-child {
                }
              }
            }
          }
          //     .main__home--zingChart
          .main__home--zingChart {
            .main__home--zingChart-item {
              margin: 0;
              .main__home--zingChart-items {
              }
            }
          }
        }
        // header
        header {
          .song-block {
            nav {
              .nav__logo1024 {
                display: none;
              }
              .width {
                width: 50%;
              }
            }
          }
        }
        // footer
        footer {
          .footer-second {
            ul {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .app {
    .app-menu {
      padding: 0;
      .menu-block {
        padding: 0;
      }
    }
  }
}
